<%person = user.send(@search.who)%>
<div class="item">
  <div class="contact pull-left"></div>
  <div class="title"><span>Name:</span> <%= user.name %></div>
  <div class="price"><span>Price ($):</span> <%= prices(person) %></div>
  <div class="tech"><span>Languages:</span> <%= langs(person) %></div>
  <%= image_tag 'ajax-loader.gif', class: 'loading' %>
  <span class="js-link red-link contact-send" data-send-to="<%= user.id %>" data-receive-as="<%= @search.who %>">
    Share Your E-mail
  </span>
  <% contacts_count = contacts_count(user, @search.who)%>
  <%if contacts_count > 0%>
    (You shared your contacts with this <%=@search.who%> <%=pluralize(contacts_count, 'time')%>)
  <%end%>
</div>