<h3>Current Balance: <%=current_user.balance%></h3>
<%= form_tag robokassa_path do %>
  <%= label_tag :amount, 'Amount (USD)' %>
  <%= text_field_tag :amount, '5', class: 'span1', maxlength: 4 %> <br />
  <%= submit_tag 'Increase balance', class: 'btn-large btn-primary' %>
<% end %>

<% if current_user.balance_histories.present? %>
  <h3 class="balance_history">Balance History:</h3>
  <table class="balance_history">
  <% current_user.balance_histories.reverse.each_with_index do |trans, i| %>
    <tr  class="<%= i.odd? ? 'odd' : 'even' %>">
      <td>
        <%= image_tag "/assets/balance/#{trans[:action]}.png", alt: trans[:action], title: trans[:action]%>
      </td>
      <td>
        $ <%= trans[:amount]%>
      </td>
      <td>
        <%=trans[:created_at].strftime('%d.%m.%Y')%>
      </td>
    </tr>
  <% end %>
</table>
<% end %>