<div id="teacher_info">
  <h3>Teacher</h3>
  <%= f.fields_for :teacher do |teacher| %>
    <%= teacher.label :min_price, 'Price Range ($ per hour)' %>
    <%= teacher.text_field :min_price, class: 'span1', maxlength: 2 %> &nbsp; &ndash; &nbsp;  
    <%= teacher.text_field :max_price, class: 'span1', maxlength: 2 %> <br />
    <%= label_tag :teacher_langs, 'Languages:' %>
    <%= text_field_tag :teacher_langs, @langs[:teacher], class: 'span3' %> <br />
  <% end %>
</div>
