<div id="profile">

  <%= form_for(current_user, url: update_profile_path, remote: true, html: {id: 'edit_form'}) do |f|%>

  <%= f.label :name %> 
  <%= f.text_field :name %> <br />
  <div class="clear"></div>

  <label class="checkbox">
    <%= f.check_box :show_email %><%=I18n.t('profile.public_email')%>
  </label>

  <div class="actions">
    <div>
      <%=I18n.t('profile.want')%>:
    </div>
    <label class="checkbox">
      <%= f.check_box :teach %><%=I18n.t('profile.teach')%>
    </label>

    <label class="checkbox">
      <%= f.check_box :learn %><%=I18n.t('profile.learn')%>
    </label>
  </div>
  <div class="clear"></div>
  
  <%= render partial: 'teacher_info', locals: {f: f} %>
  <%= render partial: 'learner_info', locals: {f: f} %>
  
  <div class="clear"></div>

  <div class="submit">
    <%= submit_tag I18n.t('profile.save'), class: 'btn-large btn-primary' %>
    <%= image_tag 'ajax-loader.gif', class: 'loading' %>
  </div>
<% end %>
</div>
