<div class="main" id="search_form_block">
  <div class="wrap">
    <section class="search pull-left">
      <h2>Search</h2>
      <%= form_tag(search_path, remote: true, id: 'search_form') do %>
        <%= label_tag :langs, 'Languages' %>
        <%= text_field_tag :langs, nil, class: "search-input" %>
        <label class="radio first">
          <%= radio_button_tag :who, 'teacher', true %> Teachers
        </label>
        <label class="radio">
          <%= radio_button_tag :who, 'learner' %> Learners
        </label>
        <%= label_tag :price, 'Price ($ per hour):' %>
        <%= text_field_tag :price, nil, class: 'price-input', maxlength: 2 %>
        <label class="checkbox">
          <%= check_box_tag :no_price_set, 1, true %>List <span id="who_no_price">teachers</span> who don't show price
        </label>
        <%= hidden_field_tag :offset, 0 %>
        <%= hidden_field_tag :result_count, 0 %>
        <%= submit_tag 'Show Teachers ()', class: 'btn', id: 'submit_search' %>
        <%= image_tag 'ajax-loader.gif', class: 'loading' %>
      <%end%>
    </section>
    <section class="welcome pull-left">
      <h1 id="who_header">Teachers</h1>
    </section>
  </div>
  <div class="arr black"></div>
  <div class="shadow"></div>
</div>