<div style="margin-left: <%=level * 25%>px; display: none" data-reply-to="<%=cmt_id%>" class="cmt">
  <b id="reply_name_<%=cmt_id%>"></b>, <span class="date"><%=Time.now.strftime('%d.%m.%Y (%H:%M)')%></span>
  <div class="text" id="reply_text_<%=cmt_id%>"></div>
</div>