<div style="margin-left: <%=level * 25%>px" class="cmt">
  <b><%=h cmt.name%></b>, <span class="date"><%=cmt.created_at.strftime('%d.%m.%Y (%H:%M)')%></span>
  <div class="text"><%=clean_cmt simple_format(cmt.text)%></div>
  <span class="cmt-reply">Reply</span>
  <%= render partial: 'add_cmt', locals: {cmt: cmt}%>
</div>

<%= render partial: 'cmt_sample', locals: {cmt_id: cmt.id, level: level+1}%>
