<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>TutorBear - Learn and Teach</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="SHORTCUT ICON" href="/assets/favicon.ico" />
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css", media: "all" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%=render 'shared/ga'%>
  <%= js_msg([notice, alert])%>
  <%= js_msg([flash[:error]], 'error')%>

<div class="container teach">
  
  <header>
    <div class="wrap">
      <a href="/">
      <h1 class="logo">TutorBear</h1>
      </a>
      <div class="share pull-right">
        <%= render partial: 'shared/soc_btns' %>
      </div>
    </div>
    <div class="top-bar">
      <div class="wrap">
        <% if user_signed_in? %>
          <%= link_to current_user.name, edit_profile_path %> | 
          <%= link_to "Sign out", logout_path %>
        <% else %>
          You need to <span class="btn" id="sign_up_link">Create an account</span> or <span class="btn" id="sign_in_link">Sign in</span> to be able to Teach / Learn
          <%= render partial: 'shared/sign_up_in', locals: {action: 'sign_up', path: register_path, label: 'Register'} %>
          <%= render partial: 'shared/sign_up_in', locals: {action: 'sign_in', path: login_path, label: 'Login'} %>
        <% end %>
      </div>
    </div>
  </header>
  
  <%= yield %>
  
  <div class="clearfix"></div>
  <% if on_root_page? %>
    <%= render partial: 'shared/feedback_form' %>
  <% end %>

  <footer>
    <div class="wrap">
      <div class="pull-left">&copy; <%=Date.today.year%> TutorBear.net</div>
      <ul class="links pull-right">
        <li><span class="js-link gray-link" id="feedback_link">Send E-mail</span></li>
      </ul>
    </div>
  </footer>

</div>  
</body>
</html>
