<!DOCTYPE html>
<html>
<head>
  <title>TutorBear - Learn and Teach</title>
  <link rel="SHORTCUT ICON" href="/assets/favicon.ico" />
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css", media: "all" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%=render 'shared/ga'%>
  <%= js_msg([notice, alert])%>
  <%= js_msg([flash[:error]], 'error')%>

  <div class="container-fluid">
    <%= yield %>
  </div>

  <% if on_root_page? %>
    <%= render partial: 'shared/feedback_form' %>
    <%= render partial: 'shared/soc_btns' %>
  <% end %>
  
</body>
</html>
